.register {
  background: #eee7e7;
  border-radius: 4px;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.5);
  width: 550px;
  border-radius: 25px;
  position: relative;
  margin: 30px;
  transition: box-shadow 0.3s, border-color 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.form-container {
  width: 100%;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.register:hover {
  background-color: #eee7e7;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  border: 2px solid black;
}


.label {
  margin-bottom: 5px;
  text-align: start;
}

.upload {
  margin-bottom: 5px;
  width:400px;
  height: 30px;
  font-size: px;
  padding: .3em 2em;
  border: none;
  border-radius: 0px;
  --c: #A28089;
  
  box-shadow: 0 0 0 .1em inset #A28089; 
  --_g: linear-gradient(var(--c) 0 0) no-repeat;

  transition: background-size .4s, background-position 0s .4s;
  outline-color: #A28089;
}


