.searchbar {
  border-bottom: 1px solid rgb(209, 209, 209);
  height: 40px;
  align-items: center;
  padding-left: 20px;
  padding:7px ;
  background-color: #bbbbbb
}

.pagecontainer {
  padding: 20px; 
}
.book-card-wrapper {
  margin: 10px 40px 10px 40px ;
}