
.baseButton {
    font-size: 20px;
    cursor: pointer;
    padding: .3em 2em;
    font-weight: bold;  
    border: none;
    border-radius: 0px;
  --c:  #333333;

  
  
  box-shadow: 0 0 0 .1em inset var(--c); 
  --_g: linear-gradient(var(--c) 0 0) no-repeat;
  background: 
    var(--_g) calc(var(--_p,0%) - 100%) 0%,
    var(--_g) calc(200% - var(--_p,0%)) 0%,
    var(--_g) calc(var(--_p,0%) - 100%) 100%,
    var(--_g) calc(200% - var(--_p,0%)) 100%;
  background-size: 50.5% calc(var(--_p,0%)/2 + .5%);
  outline-offset: .1em;
  transition: background-size .4s, background-position 0s .4s;
}
.baseButton:hover {
  --_p: 100%;
  transition: background-position .4s, background-size 0s;
  color: #cccccc;
}
.baseButton:active {
  box-shadow: 0 0 9e9q inset #dddddd; 
  background-color: var(--c);
  color: #dddddd;
}



.baseButtonAlternative {
  font-size: 12px;
  cursor: pointer;
  padding: .3em 2em;
  font-weight: bold;  
  border: none;
  border-radius: 0px;
--c:  #333333;



box-shadow: 0 0 0 .1em inset var(--c); 
--_g: linear-gradient(var(--c) 0 0) no-repeat;
background: 
  var(--_g) calc(var(--_p,0%) - 100%) 0%,
  var(--_g) calc(200% - var(--_p,0%)) 0%,
  var(--_g) calc(var(--_p,0%) - 100%) 100%,
  var(--_g) calc(200% - var(--_p,0%)) 100%;
background-size: 50.5% calc(var(--_p,0%)/2 + .5%);
outline-offset: .1em;
transition: background-size .4s, background-position 0s .4s;
}
.baseButtonAlternative:hover {
--_p: 100%;
transition: background-position .4s, background-size 0s;
color: #cccccc;
}
.baseButtonAlternative:active {
box-shadow: 0 0 9e9q inset #dddddd; 
background-color: var(--c);
color: #dddddd;
}

.baseButtonAlternative2 {
  font-size: 14px;
  cursor: pointer;
  padding: .3em 2em;
  font-weight: bold;  
  border: none;
  border-radius: 0px;
--c:  #333333;



box-shadow: 0 0 0 .1em inset var(--c); 
--_g: linear-gradient(var(--c) 0 0) no-repeat;
background: 
  var(--_g) calc(var(--_p,0%) - 100%) 0%,
  var(--_g) calc(200% - var(--_p,0%)) 0%,
  var(--_g) calc(var(--_p,0%) - 100%) 100%,
  var(--_g) calc(200% - var(--_p,0%)) 100%;
background-size: 50.5% calc(var(--_p,0%)/2 + .5%);
outline-offset: .1em;
transition: background-size .4s, background-position 0s .4s;
}
.baseButtonAlternative:hover {
--_p: 100%;
transition: background-position .4s, background-size 0s;
color: #cccccc;
}
.baseButtonAlternative:active {
box-shadow: 0 0 9e9q inset #dddddd; 
background-color: var(--c);
color: #dddddd;
}

